- person ||= nil
- if person
  = succeed '.' do
    - if person.post?
      = person.post
      - if person.institution? || person.employer?
        = t :at
    - if person.institution?
      = person.institution.definite_name
    - elsif person.employer?
      = person.employer
    - else
      %span.note
        = t :situation_unknown