- person ||= nil
- if person
  = succeed '.' do
    - if person.post?
      = person.post
      - if person.institution? || person.employer?
        = t :at
    - if person.institution_name?
      = person.institution_name
    - elsif person.employer?
      = person.employer
    - else
      %span.unknown
        = t :situation_unknown