- person ||= @person
- associated ||= "record"

- if person.present?
  = render "cdb_client/people/photo", person: person
  .linkee
    %p.formnote
      This
      = associated
      is linked to
      %strong
        = person.title
        = person.informal_name
      = render "cdb_client/people/situation", person: person
      Changing the fields above will update the records we hold for
      = succeed "." do
        = person.title
        = person.family_name
    %p.danger
      %a.detach{href: "#"}
        Detach this
        = associated
        from
        = person.title
        = person.family_name
        so that it can be reassigned.
