- association ||= :person
- associated ||= "record"
- person = @person || Person.new_with_defaults unless person.present?
- person_uid_field ||= :person_uid
- required ||= false
- heading ||= nil
- without_institution ||= false
- with_employer ||= false

= f.fields_for association, person, include_id: false do |pf|
  %fieldset{data: {role: "personpicker"}}
    - if person.persisted?
      = f.hidden_field person_uid_field, data: {role: "linker"}
    - else
      = f.hidden_field person_uid_field, value: "", data: {role: "linker"}
      
    %p.threecol
      - if heading
        = heading
        %br
      %span.col.first>
        = pf.text_field :title, placeholder: t("placeholders.person.title"), class: 'title'
      %span.col>
        = pf.text_field :family_name, placeholder: t("placeholders.person.family_name"), class: 'family_name', data: {key: "family_name"}, required: "true"
      %span.col.last>
        = pf.text_field :given_name, placeholder: t("placeholders.person.given_name"), class: 'given_name', data: {key: "given_name"}, required: "true"

    %p.twocol.reversed
      %span.col>
        = pf.email_field :email, placeholder: t("placeholders.person.email"), class: 'email', data: {key: "email"}
      %span.col.last>
        = pf.text_field :phone, placeholder: t("placeholders.person.phone"), class: 'phone', data: {key: "phone"}

    - unless without_institution
      = render "cdb_client/institutions/pick_or_add", f: pf, institution: person.institution, institution_code_field: 'institution_code', with_employer: with_employer

    .linkage
      - if person.persisted?
        = render "cdb_client/people/linked", person: person, associated: associated
      - else
        = render "cdb_client/people/unlinked", associated: associated
