- person ||= nil
- with_country ||= false

- if person
  - punctuation = with_country && person.country.present? ? ',' : '.'
  %span.situation
    = succeed punctuation do
      - if person.post?
        = person.post
        - if person.institution_name? || person.employer?
          = t :at
      - if person.institution_name?
        = person.institution_name
      - elsif person.employer?
        = person.employer
      - else
        %span.unknown
          = t :situation_unknown
    - if with_country && person.country.present?
      = succeed '.' do
        = person.country.name
    
