- person ||= nil
- with_country ||= false

- if person
  %span.situation
    = succeed '.' do
      - if person.post?
        = person.post
        - if person.employer? || person.institution.present?
          = t :at
      - if person.employer?
        = person.employer
      - elsif person.institution.present?
        = person.institution.definite_name
      - else
        Situation unknown.


