- person ||= nil
- with_country ||= false
- institution = person.institution if person 

- if person
  %span.situation
    = succeed '.' do
      - if person.post?
        = person.post&.html_safe
        - if institution.present? || person.employer?
          = t :at
      - if institution.present?
        = institution.definite_name          
      - elsif person.employer?
        = person.employer
      - else
        Situation unknown.


